{% extends 'base.html.twig' %}

{% block title %}Edit your Password{% endblock %}

{% block body %}
<div class="container">
    <h1>Change Password</h1>
    {{ form_start(form) }}
    {{ form_row(form.plainPassword) }} 
    {{ form_row(form.newPassword) }}
    {{ form_row(form.confirmNewPassword) }}
    <button type="submit" class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl">
        Save Changes
    </button>
    {{ form_end(form) }}
</div>
{% endblock %}